element.style{

}
h1{
    margin: auto;
    border: 5px solid red;
}
p{
    margin: auto;
    border: 5px solid  red;

}
ul{
    margin: auto;
    border: 5px solid red;
}
body{
    margin: auto;
    width: 700px;
    height: 400;
    border-style: solid;
    border: 5px solid red;
}
body{
    display:block;
    margin: 8px;
}